{% load static %}
<h1><a href ='/diary'>Fabian's Diary</a></h1>
<h2>Title: {{ entry.title }}</h2>
<h3>Rating: {{ entry.rating }}</h3>
<h3>Date Written: {{ entry.pub_date }}</h3>
<h3>{{ entry.body }}</h3>

{% block content %}
{% if entry.image %}
<img src = "/media/{{ entry.title }}" alt="{{ entry.title }}">
{% endif %}
{% endblock %}


<h3>New Comment:</h3>
<form action = "{{ entry_id }}/commentsave/", method="POST">
    {% csrf_token %}
    <textarea rows=5 cols=20 name="ctxt"></textarea>
    <input type="submit" value="submit">
</form>

<h3>{{ comment_list.count }} Comments:</h3>

<ul>
{% for comment in comment_list %}
    <li>{{ comment.ctxt }}</li>
{% endfor %}
</ul>