<h1><a href ='/diary'>Fabian's Diary</a></h1>
<h2>New Entry:</h2>

<form action="{% url 'save' %}", method="POST">
    {% csrf_token %}
    <h2>Title:</h2>
    <input type="text" name="title"><br>

    <h3>Rating</h3>
    <select name="rating">
        <option value=1>1</option>
        <option value=2>2</option>
        <option value=3>3</option>
        <option value=4>4</option>
        <option value=5>5</option>
    </select>

    
    <br>
    <h3>Text:</h3>
    <textarea rows="7" cols="50" name="body"></textarea>
    <input type="submit" value="submit">
</form>